# Основные настройки сервера
PORT=4000
CHECK_INTERVAL=20000  # 20 секунд

# URL для API
BASE_URL=https://main.okk24.com

# API endpoints
TASK_GET_ENDPOINT=/bumess/api/task/get_quickly
TASK_GET_QUICKLY_ENDPOINT=/bumess/api/task/get_quickly

# Админ данные
ADMIN_EMAIL=aleks.evdokimov+AI-LID-WakeUP-dogim@gmail.com
ADMIN_PASSWORD=1234567

# N8N Webhook URL
TRIGGER_WEBHOOK_URL=https://govorikavitaliydev.app.n8n.cloud/webhook-test/leadWakeUp
